<template>
  <Layout>
    <div
      class="bg-cover bg-fixed flex flex-col sm:flex-row mx-auto justify-center py-16"
      style="background-image: url('https://unsplash.com/photos/4aphqBYyZsA')"
    >
      <div class="bg-blue-200 text-4xl font-bold w-full text-center sm:text-left">
        <div class="mx-auto mt-8 p-16 leading-tight">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat culpa vero, laudantium eligendi a error! Perspiciatis corporis eos mollitia praesentium.</p>
        </div>
      </div>
    </div>
    <div class="bg-black flex flex-col sm:flex-row py-6 justify-center items-center">
      <div class="w-1/2 text-4xl text-center leading-tight font-bold">
        <g-image class="mx-auto" src="../../static/pro logo.png" />
        <h1 class="text-white border-b p-12 mx-32">WHO WE ARE</h1>
      </div>
      <div class="w-1/2">
        <p
          class="text-2xl mr-8 p-8 border-l font-light"
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, distinctio beatae quae inventore quas cupiditate possimus cumque assumenda accusamus ut tenetur ea perspiciatis ullam error voluptate suscipit neque corporis quo! Natus quod ipsa accusamus! In nobis expedita corporis animi nisi incidunt labore. Cumque quasi nulla amet sint blanditiis consequatur corrupti ipsam eos est debitis adipisci eligendi voluptas tempora quisquam, repellendus illum at tenetur nam enim atque, dolorem maiores. Accusantium id, a cum, saepe deleniti, ducimus atque fugiat tenetur sapiente itaque laudantium? Esse, iste ratione! Non quos numquam reiciendis veritatis dignissimos inventore dolorem commodi mollitia nihil sit reprehenderit rem, nulla ipsum.</p>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "About"
  }
};
</script>