<template>
  <Layout>
    <div class="bg-blue-800 flex flex-col sm:flex-row mx-auto justify-center py-0">
      <div class="mx-auto mt-0 leading-tight">
        <g-image src="../../static/hikebg.png" class="shadow-lg rounded-t-full border-b border-4˜" />
      </div>
    </div>
    <div class="container flex flex-wrap items-center justify-center mx-auto py-8">
      <div class="block">
        <h1 class="text-blue-500 uppercase text-center font-bold text-6xl mx-auto">Just Walk</h1>
        <p class="text-center text-xl uppercase">25KM Endurance Hike</p>
        <h2 class="text-center text-2xl uppercase font-bold">Takwa bay explosive</h2>
      </div>
    </div>
    <div
      class="container flex flex-col sm:flex-row justify-center items-center mb-6 shadow-lg hover:shadow-2xl"
    >
      <div class="mx-auto flex-1 p-4 mb-6">
        <g-image src="../../static/hiking.svg" />
      </div>
      <div class="mx-auto flex-1 p-4">
        <p
          class="text-2xl text-center uppercase font-bold py-16 mt-8 border-l-4 p-4"
        >endurance walk through snake island to the beach</p>
      </div>
    </div>
    <div
      class="container flex flex-col sm:flex-row justify-center items-center mb-6 shadow-lg hover:shadow-2xl"
    >
      <div class="mx-auto flex-1 p-4">
        <p class="text-2xl text-center uppercase font-bold py-8 mt-8">games include</p>
        <p
          class="uppercase text-base text-center"
        >volleyball | football | board game | tug of war | aerobics | water polo | boat cruise | fun at the beach | refreshments</p>
      </div>
      <div class="mx-auto flex-1 p-4 mb-6 border-l-4">
        <g-image src="../../static/undraw_finish_line_katerina_limpitsouni_xy20.png" />
      </div>
    </div>
    <div
      class="container flex flex-col sm:flex-row justify-center items-center mb-6 shadow-lg hover:shadow-2xl"
    >
      <div class="mx-auto flex-1 p-4 mb-6 rounded-full">
        <g-image src="../../static/undraw_traveling_t8y2.svg" />
      </div>
      <div class="mx-auto flex-1 p-4 border-l-4">
        <p class="uppercase font-bold text-2xl text-center">backpack</p>
        <p class="text-center text-base">
          Here are some things to bring along for the hike.
          <br />They are very important
        </p>
        <ol class="uppercase text-center list-decimal p-8 rounded-full font-bold">
          <li>Water</li>
          <li>umbrella</li>
          <li>Massage Oil</li>
          <li>drinks</li>
          <li>sunscreen</li>
          <li>massage oil</li>
          <li>Swim Wear</li>
          <li>Small towel</li>
        </ol>
      </div>
    </div>
    <div class="container flex flex-grow flex-col sm:flex-row justify-center mb-6">
      <div class="flex-1 mr-8">
        <div class="mx-auto p-8 mb-6 mt-4 shadow-lg hover:shadow-2xl">
          <p class="bg-white p-4 font-bold text-2xl uppercase text-center">date</p>
          <p
            class="bg-blue-800 p-4 rounded-lg text-white font-bold uppercase text-center"
          >november 30 2019</p>
        </div>
      </div>
      <div class="flex-1 mr-8">
        <div class="mx-auto p-8 mb-6 mt-4 shadow-lg hover:shadow-2xl">
          <p class="bg-white p-4 font-bold text-2xl uppercase text-center">pick up point</p>
          <p
            class="bg-blue-800 p-4 rounded-lg text-white font-bold uppercase text-center"
          >@mrs unilag gate</p>
        </div>
      </div>
      <div class="flex-1 mr-8">
        <div class="mx-auto p-8 mb-6 mt-4 shadow-lg hover:shadow-2xl">
          <p class="bg-white p-4 font-bold text-2xl uppercase text-center">2nd pick up point</p>
          <p
            class="bg-blue-800 p-4 rounded-lg text-white font-bold uppercase text-center"
          >sea coach ferry cms bus stop</p>
        </div>
      </div>
    </div>
    <section class="container mx-auto">
      <h1 class="text-center uppercase font-bold text-4xl">tickets</h1>
      <div class="flex flex-col sm:flex-row justify-center items-center">
        <div class="bg-blue-400 rounded-lg flex-1 p-8 mt-6 mb-6 justify-between items-center">
          <p class="text-center uppercase text-2xl font-bold">regular</p>

          <div class="bg-white px-6 py-3 text-center rounded-full uppercase">
            <a href="https://bit.ly/regularhike">buy</a>
          </div>
        </div>
        <div class="bg-blue-400 rounded-lg flex-1 p-8 mt-6 mb-6 ml-6">
          <p class="text-center uppercase text-2xl font-bold">vip</p>
          <div class="bg-white px-6 py-3 text-center rounded-full uppercase">
            <a href="https://bit.ly/viphike">buy</a>
          </div>
        </div>
        <div class="bg-blue-400 rounded-lg flex-1 p-8 mt-6 mb-6 ml-6">
          <p class="text-center uppercase text-2xl font-bold">vvip</p>
          <div class="bg-white px-6 py-3 text-center rounded-full uppercase">
            <a href="https://bit.ly/hikevvip">buy</a>
          </div>
        </div>
      </div>
    </section>

    <div
      class="container flex flex-col sm:flex-row justify-center items-center mb-6 shadow-lg hover:shadow-2xl"
    >
      <div class="mx-auto flex-1 p-4 mb-6 rounded-full">
        <g-image src="../../static/undraw_contact_us_15o2.png" />
      </div>
      <div class="mx-auto flex-1 p-4 border-l-4">
        <p class="uppercase font-bold text-2xl text-center">for enquiries and sponsorship</p>
        <ul class="text-2xl text-center rounded-full">
          <li>+234 (0) 708 917 5317</li>
          <li>+234 (0) 812 902 3920</li>
          <li>+234 (0) 708 702 6328</li>
        </ul>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {};
</script>

