<template>
  <Layout>
    <div class="bg-blue-200 mx-auto flex flex-col sm:flex-row justify-center items-center py-16">
      <div class="text-4xl font-bold text-center flex-1">
        <div class="mx-auto mt-4 leading-tight">
          <h2 class="text-6xl">
            The Fitt
            <br />Lifestyle
          </h2>
          <p class="text-base font-light mt-2 font-bold">Ready to make a change in your lifestyle?</p>
          <p
            class="text-base font-light mt-2"
          >The enjoyable way to get healthy & love the life you live!</p>
          <button
            class="text-base text-white uppercase bg-blue-500 py-2 px-8 rounded-full hover:bg-blue-700"
          >
            <g-link to="/hike">More</g-link>
          </button>
        </div>
      </div>
      <div class="mx-auto p-4 mb-6 flex-1">
        <g-image src="../../static/trainer.svg" alt="hiking" class="mx-auto sm:mx-0" />
      </div>
    </div>
    <div
      class="bg-blue-800 flex flex-col justify-between items-center px-8 sm:flex-row py-16 mx-auto shadow-lg shadow-inner"
    >
      <div
        class="bg-white sm:mt-2 box mr-4 shadow-lg hover:shadow-2xl mt-0 rounded-t-lg rounded-b-lg flex-1"
      >
        <g-image src="../../static/pro2.png" alt="hiking" class="mx-auto sm:mx-0 rounded-t-lg" />
        <div class="p-8">
          <h2 class="text-xl font-bold uppercase">Adventure</h2>
          <p
            class="test"
          >Let us take you on an adventure as you explore the beautiful and sandy terrain of snake Island while burning off those calories. A different way to workout!</p>
        </div>
      </div>
      <div
        class="bg-white sm:mt-2 box mr-4 mt-4 shadow-lg hover:shadow-2xl mt-0 rounded-t-lg rounded-b-lg flex-1"
      >
        <g-image src="../../static/pro4.png" alt="hiking" class="mx-auto sm:mx-0 rounded-t-lg" />
        <div class="p-8">
          <h2 class="text-xl font-bold uppercase">Increase Fitness</h2>
          <p>An hour of trekking can burn over 500 calories, depending on inclination and weight the backpack you’re carrying. Hiking trails go easier on your knees and ankles than asphalt and concrete.</p>
        </div>
      </div>
      <div
        class="bg-white sm:mt-2 box mr-4 mt-4 shadow-lg hover:shadow-2xl mt-0 rounded-t-lg rounded-b-lg flex-1"
      >
        <g-image src="../../static/pro5.png" alt="hiking" class="mx-auto sm:mx-0 rounded-t-lg" />
        <div class="p-8">
          <h2 class="text-xl font-bold uppercase">Fun Unlimited</h2>
          <p
            class="text-base"
          >It’s unlimited fun from the beginning of the hike all the way down to the beach. You can meet new friends, catch new sights on the island, play fun games at the beach and even win prizes! Connect!</p>
        </div>
      </div>
    </div>
    <div
      class="container flex flex-col sm:flex-row justify-center items-center mb-6 mt-5 shadow-lg hover:shadow-2xl p-4"
    >
      <div class="mx-auto p-4 mb-6 flex-1">
        <g-image src="../../static/activity.svg" alt="activity" />
      </div>
      <div class="text-4xl font-bold text-left p-8 flex-1">
        <div class="mx-auto mt-8 leading-tight">
          <h2 class="text-center">We Keep You Healthy</h2>
          <p
            class="text-base text-center font-light mt-4"
          >At Prolificient Fitness, we are poised to helping you achieve your fitness goals with a dynamic range of structured exercises and activities to help you attain optimum fitness level. There are a lot of health benefits you stand to gain from exercising. We will also help you plan your diet to compliment your workouts! Remember, a sound body is a sound mind!</p>
        </div>
      </div>
    </div>

    <div
      class="bg-white flex flex-col justify-between items-center px-16 sm:flex-row py-16 mx-auto shadow-lg shadow-inner"
    >
      <div
        class="flex-1 bg-blue-800 sm:mt-2 box mr-4 shadow-lg hover:shadow-2xl mt-0 rounded-t-lg rounded-b-lg p-16"
      >
        <p class="text-6xl uppercase text-center font-bold text-white">reach out to us</p>
        <p class="text-xl text-center uppercase text-white">For a wonderfully healthy experience</p>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Home"
  }
};
</script>

