<template>
  <Layout>
    <div class="flex flex-col sm:flex-row mx-auto justify-center py-16">
      <div class="text-4xl font-bold w-full text-center sm:yext-lef">
        <div class="mx-auto mt-8 leading-tight bg-black p-8"></div>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {};
</script>
